.transparentCover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  flex-direction: column;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.3);
  transition: opacity 0.3s ease;

  .spinner {
    color: black;
    height: 10rem !important;
    width: 10rem !important;
  }
}
