.navbarContainer {
  text-align: center;
  padding: 1.5rem;
}

.burgerMenu {
  position: absolute;
  right: 10px;
  top: 0px;
}

.link {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}
